* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #80808024;
}

.errorMsg {
    font-size: 14px;
    font-weight: 600;
    color: #dd1f1f;
}

.paginationParent {
    .MuiPagination-ul {
        padding: 10px 0;

        button {
            color: #fff;

            &.Mui-selected {
                background-color: #fff;
                color: #333;
                font-weight: 600;
            }
        }

        .MuiPaginationItem-ellipsis {
            color: #fff;
        }
    } 
}

.dropdownParent {
    #dropdown-menu {
        a.active {
            background: #3b82f6;
            color: #fff;
            font-weight: bold;
            pointer-events: none;
        }
    }
}